html {
  height: auto;
}
body {
  background-image: url(assets/background-img.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: auto;
}

.container {
  text-align: center;
  border: 0px solid black;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.55);
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 400px;
}
a {
  text-align: center;
}
#logo {
  margin-top: 15px;
  cursor: pointer;
}
h1 {
  font-size: 30px;
  font-weight: 600;
  color: rgb(65, 60, 60);
}
h3 {
  font-size: 23px;
  font-weight: 400;
  padding: 0px 45px;
  color: rgb(97, 92, 92);
}
#n11-img,
#gittigidiyor-img,
#perdenette-img,
#trendyol-img,
#hepsiburada-img {
  width: 250px;
  height: 120px;

  cursor: pointer;
  display: block;
  margin: auto;
  padding: 10px 5px;
  display: block;
}
.row {
  margin: 5px 0px;
}
#whatsapp {
  margin-bottom: 20px;
}
@media only screen and (min-width: 600px) {
  body,
  html {
    height: auto;
  }
  .container {
    max-width: 600px;
  }
  #n11-img,
  #gittigidiyor-img,
  #perdenette-img {
    width: 160px;
    height: 160px;
    display: inline-block;
  }
  #trendyol-img,
  #hepsiburada-img {
    display: inline-block;
  }
}
